@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(1, 13, 57, 1) 26%,
    rgba(59, 1, 55, 1) 54%,
    rgba(54, 3, 138, 1) 79%
  );
  background-repeat: no-repeat;
  color: white;
  font-family: 'Trispace', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  text-align: center;
}

header h1 {
  padding: 1rem;
}

#data{
  padding: 1rem;
  font-size: 1.2rem;
}

#button {
  padding: 1rem;
  outline: none;
  font-size: 1.5rem;
  background-color: black;
  border: black 2px solid;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s;
}

#button:hover {
  transform: translateY(-5px);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#picTitle {
  padding: 3rem;
  text-align: center;
}

#content {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 70rem;
}

#picImg {
  display: flex;
  width: 60%;
  padding: 2rem;
}

.visibility {
  display: none;
}

#picDesc {
  padding: 2rem;
  font-size: 1.5rem;
  height: 40rem;
  overflow-y: scroll;
  overflow-x: hidden;
  
}

@media (max-width: 1456px) {
  body {
    height: 100%;
  }

  header h1 {
    padding: 3rem;
  }

  header input {
    margin: 1rem;
    margin-bottom: 3rem;
  }

  #content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #picDesc {
    overflow: auto;
  }

  #videoImg {
    height: 400px;
    width: 600px;
  }

  #button:hover {
    transform: none
  }

  
}
